$instock-blue: #004892;
$instock-blue-dark: #002f5f;
$black: #323232;
$brainflix-light-blue: #0095FF;
$brainflix-blue: #0065AD;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #e1e1e1;
$akabaster: #fafafa;


$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1280px,
);

$tablet-spacing:1.5rem;
$desktop-spacing:11.25rem;
$desktop-spacing-about: 16rem;