@use '../styles/partials/mixins.scss' as *;
@use '../styles/partials/variables.scss' as *;
@use '../styles/partials/typography.scss';

.navBar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
  @include tablet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top-components{
    @include mobileMargin;
    align-items: center;
    @include tablet {
      @include tabletMargin;
      display:flex;
      flex-direction: row;
      @include desktop {
        margin-left: 156px;
      margin-right: 156px;
      }
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
  }

  &__logo {
  
    width: 120px;
   height: 48px;
   
   @include tablet {
     align-self: baseline;
     margin-top: 1rem;
   }
  }

  &__components {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      display: flex;
      flex-direction: row;
      margin-top: 16px;
    }
  }

  &__search-area {
    @include searchBar;
    background-image: url(../../assets/icons/Icon-search.svg);
    background-position: 0.625rem;
    background-repeat: no-repeat;
    width: 100%;
    &::placeholder {
      font-size: 1rem;
    }
    @include tablet {
      width: 100%;
      margin-left: 10.563rem;
    }
    @include desktop {
     margin-left: 25rem;
    }
  }  

  &__button-and-picture {
    @include flexcenter;
    width: 100%;
    margin-top: .5rem;
    @include tablet {
      width: 200px;
      margin-top: 0;
    }
  }

  &__button {
    @include uploadButton;
    @include tablet {
    width: 100%;
    font-family: 'Avenir';
    margin-left: 16px;
    }
  }

  &__link {
    width: 100%;
    @include tablet {
      width: 300px;
    }
  }

  &__X {
    margin-right: .625rem;
    display: inline-block;
  }

  &__profile {
    @include profilePicture;
    margin-left: 1rem;
    @include tablet {
      margin-left: 1.5rem;
    }
  }
}