@use '../styles/partials/mixins.scss' as *;
@use '../styles/partials/variables.scss' as *;
@use '../styles/partials/typography.scss';

.app {

  &__bottomComponents {
    @include desktop{
    display: flex;
  flex-direction: row;
  margin-left: 120px;
      
  }
}
  &__commentsComponent {
  @include desktop {
    width: 700px;
    border-right: 2px solid $mercury;
  }
  }
  

}