@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.home {

  &__bottom-components {
    @include desktop{
    display: flex;
  flex-direction: row;
  margin-left: 120px;  
  }
}

  &__comments-component {
    @include desktop {
      width: 700px;
      border-right: 2px solid $mercury;
    }
  }

  &__content {
    text-decoration: none;
    color: black;
    font-family: 'Avenir';
  }
}
